[buildout]
develop = .
parts = test
versions = versions


[versions]
WebTest = 2.0.28


[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    pytest
    dolmen.api_engine[test]
